<section>
    <div class="row">
        <div class="column macbook" style="background-color:#fafafa;">
            <div class="container ut_margin">
                <div class="title">
                    <h2  class="title-sub-heading">MacBook Air</h2>
                    <h4>SuperCharged By</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
                </div>
        
            </div>
        </div>
        <div class="column macbook-pro" style="background-color:black;">
            <div class="container ut_margin">
                <div class="title">
                    <h2  class="title-sub-heading" style="color:white;">MacBook Pro 13</h2>
                    <h4 style="color:white;">SuperCharged By</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
        
                </div>
        
            </div>
        </div>
      </div>
      
</section>

<section style="padding-top:50px ;">
    <div class="row">
        <div class="column watch" style="background-color:#fafafa;">
            <div class="container ut_margin">
                <div class="title">
                    <h2  class="title-sub-heading">Watch</h2>
                    <h4>It's Our Largest Display Yet</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
                </div>
        
            </div>
        </div>
        <div class="column ipad" style="background-color:black;">
            <div class="container ut_margin">
                <div class="title">
                    <h2  class="title-sub-heading" style="color:white;">iPadair</h2>
                    <h4 style="color:white;">Light.Bright.Full of might</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
        
                </div>
        
            </div>
        </div>
      </div>
      
</section>

<section style="padding-top:50px    ;">
    <div class="row">
        <div class="column airpods" style="background-color:#fafafa;">
            <div class="container bottom_margin">
                <div class="title">
                    <h2  class="title-sub-heading">AirPods</h2>
                    <h4>All-new with Spatial Audio</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
                </div>
        
            </div>
        </div>
        <div class="column Arcade" style="background-color:#fafafa;">
            <div class="container ut_margin">
                <div class="title">
                    <h2  class="title-sub-heading">Arcade</h2>
                    <h4>Fly By the sequel of your pants.</h4>
                </div>
                <div class="cta">
                    <a href="#" class="cta-link">Learn More ></a>
                    <a href="#" class="cta-link">Buy ></a>
                </div>
        
            </div>
        </div>
      </div>
      
</section>